.shop__detail {
    margin: 50px 0 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__error {
    color: red;
    margin: 0px 0 20px 100px;

}


.label {
    font-size: 17px;
}

.form__input {
    margin-bottom: 15px;
    width: 60%;
    font-size: 17px;
    padding: 5px;
}

textarea {
    vertical-align: top;
    width: 80%;
    height: 200px;
}

.form__input-textarea {
    margin-bottom: 15px;
    font-size: 17px;
    padding: 5px;
}

.btn {
    margin-top: 20px;
}

.button__content {
    margin-left: px;
    padding: 3px;
    width: 10%;
    height: 30px;
    border: none;
    border-radius: 3px;
    background: rgb(70, 70, 250);
    color: #fff;
    cursor: pointer;
    font-size: 12px;
}

.back__button {
    margin: 20px 0 0 100px;
}

.old__img {
    margin-top: -25px;
    margin-left: 100px;
}

.form__input-img {
    margin-bottom: 15px;
    width: 60%;
    font-size: 17px;
    padding: 5px;
    margin-left: 100px;
}
