.form {
    margin: 30px 0 0 50px;
}


.register__form {
    margin-bottom: 30px;
}

.shop__detail {
    margin: 50px 0 0 50px;
}

.form__input {
    margin-bottom: 15px;

}

textarea {
    vertical-align: top;
}

.btn {
    margin-top: 20px;
}

.button__content {
    margin-left: px;
    padding: 3px;
    width: 10%;
    height: 30px;
    border: none;
    border-radius: 3px;
    background: rgb(70, 70, 250);
    color: #fff;
    cursor: pointer;
    font-size: 12px;
}

.back__button {
    margin: 20px 0 0 50px;
}