.search__bar {
    position:absolute;
    top: 70px;
    right:10%;
    width:50%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 3px 3px 2px rgb(169, 168, 168);
}

.search__bar-content {
    display: flex;
    justify-content: space-between;
}

.area {
    border: none;
    padding: 4px 10px 4px 4px;
    width:30%;
}

.genre {
    border: none;
    border-left: solid #d0cdcd ;
    border-right: solid #d0cdcd;
    padding: 4px 20px 4px 4px;
    width: 35%;
    font-size: 12px;
}

.search__keyword {
    border: none;
    width: 30%;
    padding: 4px;
}

.search__btn {
    border: none;
    background-color:white ;
    font-size: 15px;
}

.shop__list {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 100px 0 100px;
}

.shop__card {
    width:270px;
    margin: 10px 15px;
    background-color: white;
    border-radius: 0px 0px 7px 7px;
    box-shadow: 3px 3px 2px rgb(169, 168, 168);
}

.img {
    width: 100%;
    border-radius: 7px 7px 0px 0px;
}

.shop__name {
    font-size: 16px;
    margin: 10px 10px 3px 15px;
    font-weight: bold;
}

.area__genre{
    font-size: 11px;
    padding-left: 15px;

}

.btn__heart {
    display: flex;
    justify-content: space-between;
}

.detail__btn {
    margin: 15px 0px 20px 15px;
    padding: 3px;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    background: rgb(70, 70, 250);
    color: #fff;
    cursor: pointer;
    font-size: 12px;
}

.bookmark__heart {
    font-size: 30px;
    border: none;
    background-color: white;
    padding: 10px 40px 0 0;
}


@media screen and (max-width: 768px) {

    .search__bar {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        width: 80%;
        background-color: white;
        padding: 3px 0 3px 0;
        border-radius: 3px;
        box-shadow: 3px 3px 2px rgb(169, 168, 168);
    }

    .search__bar-content {
        display: flex;
        justify-content: space-between;
    }

    .area {
        border: none;
        padding: 2px 5px 2px 2px;
        width: 30%;
        font-size: 10px;
    }

    .genre {
        border: none;
        border-left: solid #d0cdcd;
        border-right: solid #d0cdcd;
        padding: 2px 1px 2px 2px;
        width: 30%;
        font-size: 10px;
    }

    .search__keyword {
        border: none;
        width: 30%;
        padding: 2px;
        font-size: 10px;
    }

    .search__btn {
        border: none;
        width: 20%;
        background-color: white;
        font-size: 10px;
    }

    .shop__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 100px 5px 0 5px;
    }


    .shop__card {
        width: 180px;
        margin: 10px 7px;
        background-color: white;
        border-radius: 0px 0px 7px 7px;
        box-shadow: 3px 3px 2px rgb(169, 168, 168);
    }

    .shop__card:before {
        content: "";
        width: 180px;
        order: 1;
        }

    .shop__list::after {
        content: "";
        width: 180px;
        order: 1;
    }

    .img {
        width: 100%;
        border-radius: 7px 7px 0px 0px;
    }

    .shop__name {
        font-size: 15px;
        margin: 10px 10px 3px 15px;
        font-weight: bold;
    }

    .area__genre {
        font-size: 11px;
        padding-left: 15px;
    }

    .btn__heart {
        display: flex;
        justify-content: space-between;
    }

    .detail__btn {
        margin: 15px 0px 20px 15px;
        padding: 2px 0 2px 0;
        width: 100%;
        height: 20px;
        border: none;
        border-radius: 3px;
        background: rgb(70, 70, 250);
        color: #fff;
        cursor: pointer;
        font-size: 8px;
    }

    .bookmark__heart {
        font-size: 20px;
        border: none;
        background-color: white;
        padding: 12px 10px 0 0;
    }
}